In [40]:
import numpy as np
import pandas as pd
import openml

data = openml\
        .datasets\
        .get_dataset(1579, download_data=True, download_qualities=True, download_features_meta_data=True)\

df = data.get_data()[0]

In [43]:
data

OpenML Dataset
==============
Name..........: splice
Version.......: 3
Format........: Sparse_ARFF
Upload Date...: 2015-06-02 12:32:45
Licence.......: Public
Download URL..: https://api.openml.org/data/v1/download/1594043/splice.sparse_arff
OpenML URL....: https://www.openml.org/d/1579
# of features.: 61
# of instances: 3175

In [46]:
df.head()

,att_1,att_2,att_3,att_4,att_5,att_6,att_7,att_8,att_9,att_10,...,att_52,att_53,att_54,att_55,att_56,att_57,att_58,att_59,att_60,class
0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,3.0,3.0,3.0,...,3.0,4.0,2.0,2.0,2.0,2.0,1.0,3.0,4.0,1.0
1,1.0,3.0,3.0,4.0,2.0,1.0,2.0,2.0,4.0,3.0,...,3.0,4.0,4.0,4.0,1.0,3.0,4.0,1.0,1.0,1.0
2,1.0,4.0,1.0,4.0,4.0,4.0,4.0,1.0,1.0,2.0,...,1.0,1.0,4.0,2.0,2.0,4.0,4.0,4.0,2.0,1.0
3,1.0,1.0,4.0,1.0,1.0,3.0,3.0,4.0,4.0,3.0,...,3.0,4.0,1.0,3.0,3.0,4.0,2.0,2.0,1.0,-1.0
4,4.0,3.0,4.0,4.0,3.0,1.0,1.0,4.0,4.0,4.0,...,3.0,2.0,1.0,4.0,2.0,1.0,1.0,4.0,4.0,-1.0

In [48]:
#convertendo para int
df = df.astype('int')